<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <script src = "https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Wallet</title>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="#" class="navbar-brand">My wallet</a>
        </div>
    </nav>

    <div class="container searchContainer">
        <!--<div class="search card card-body">-->
        <!--<form action="/neo" method="get">-->
        <!--<h1>get payment address</h1>-->


        <!--</form>-->
        <p class = "lead">{{message}}</p>
        <button v-on:click="getAddress" type="submit" class="btn btn-outline-primary" id = "getAddressButton">get address</button>

        <br><p class = "lead">{{address}}</p>

        <button v-on:click="checkStatus" type="submit" class="btn btn-outline-primary" id = "checkStatusButon">check status</button>
        <br><br>

        <div v-if="checked">
            <p class="lead">{{statusMessage}}</p>
            <p v-if="balance!=-1? true: false"class="card-title lead"> Your balance is {{balance}}</p>
        </div>
    </div>
</div>
</div>
<script src="app.js"></script>
</body>
</html>